# Nim cache and binaries
nimcache/
.cache/
*.exe
*.out
*.o
*.obj
*.cpp
!components/**/*.cpp
*.json
!examples/**/*.json
tests/test_basic

# Python / ESPHome
__pycache__/
*.py[cod]
.esphome/
.pio/

# OS artifacts
.DS_Store
Thumbs.db
